
{# templates/contact.html #}
{% extends "base.html" %}
{% block title %}Contact — Jeremy Naugle{% endblock %}
{% block content %}
  <h1>Contact</h1>
  <p>Email: <a href="mailto:jeremy_naugle@yahoo.com">jeremy_naugle@yahoo.com</a></p>
  <p>Email: <a href="mailto:jeremyn24503@gmail.com">jeremyn24503@gmail.com</a></p>
  <p>LinkedIn: <a href="https://www.linkedin.com/in/jeremy-Naugle-drj/" target="_blank" rel="noopener">Profile</a></p>
  <p>GitHub: <a href="https://github.com/jnaugle101/" target="_blank" rel="noopener">Repo></a></p>
{% endblock %}
