{% extends "base.html" %}

{% block title %}Projects — Jeremy Naugle{% endblock %}

{% block content %}
  <h1>Projects</h1>
  <p>Here are some of the projects I’ve worked on. I’ll keep adding more over time.</p>

  <ul>
    <li><strong>Random Password Generator</strong> — Alpha-Numeric-Symbol Based Random Password Generation Tool using Python.</li>
    <li><strong>Trivia Game</strong> — Python based random Trivia Game using the top 375 trivia questions of 2025.</li>
    <li><strong>World Clock</strong> — Python based World Clock.</li>
    <li><strong>World Weather</strong> - Python based list of current weather in various countries</li>
    <li><strong>New Trivia Game with Categories</strong> - Python based trivia game with categories</li>
    <li><strong>Friends the TV Show Trivia App></strong> - Python Based game</li>
    <li><strong>Image Scraper Tool</strong> - Python Based Image Scraper Tool</li>
    <li><strong>QR Code Lab</strong> - Python Based QR Generator</li>
  </ul>
{% endblock %}
